html {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 252, 255, 1) 72%,
    rgba(155, 228, 255, 1) 150%
  );

  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
}

.logo {
  width: 5rem;
  margin: 1rem 0;
}

.flex {
  display: flex;
}

.App {
  text-align: center;
}

.loginTitle {
  margin: 2rem 2rem 3rem 2rem;
}

.loginError {
  color: rgb(77, 77, 77);
  font-weight: 200;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardBody,
.cardBodySingle {
  width: max-content;
  padding: 3rem 6rem;
  margin: 2rem;
  border-radius: 1rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 252, 255, 1) 48%,
    rgba(83, 209, 255, 1) 150%
  );
  box-shadow: 10px 5px 5px rgb(213, 213, 213);
}

.cardBody:hover {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 252, 255, 1) 48%,
    rgb(61, 203, 255) 150%
  );
  box-shadow: 10px 5px 10px rgb(157, 157, 157);
  transition: box-shadow 1s;
  cursor: pointer;
}

input {
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border: 0.1rem solid #96e3ff;
  display: block;
}

button,
input[type="submit"],
input[type="reset"] {
  background: #96e3ff;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: none;
  font: inherit;
  cursor: pointer;
  box-shadow: 5px 2px 3px rgb(213, 213, 213);
  transition: box-shadow 1s;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background: #85dfff;
  box-shadow: 5px 2px 3px rgb(170, 170, 170);
}

.authUserName {
  font-weight: 600;
  font-size: 1.2rem;
}
.cardNumber {
  font-weight: 100;
}

.hideText {
  -webkit-text-security: disc;
  font-family: dotsfont;
  font-family: inherit;
}

.transactions {
  background-color: #85deff13;
  width: 60%;
  padding: 1rem;
  margin: 1rem 1rem 4rem 1rem;
  border-radius: 1rem;
}

.transactionSpace {
  margin: 1rem;
}
.invTransactions {
  padding: 0.5rem 0;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
